/* BNB Smart Chain Color Scheme */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Merienda:wght@600&family=Trykker&display=swap');
:root {
    --primary-color: #0f0e0e; /* Black for backgrounds */
    --accent-color: #F0B90B; /* Binance yellow for highlights */
    --secondary-color: #FFFFFF; /* White for secondary elements */
    --text-light: #FFFFFF; /* White for text */
    --text-dark: #000000; /* Black for text on light backgrounds */
    --accent-colorS: #f0bb0ba0; /* Binance yellow for highlights */
}

.dashboard-header img {
    width: 50px;
    vertical-align: middle;
  }
  

  
  .dashboard-content {
    text-align: center;
    padding: 20px;
  }
  
.dashboard-header {
    background: var(--primary-color);
    padding: 0px;
    text-align: center;

    position: fixed; 
    width: 100%; /* S'étend sur toute la largeur de la page */
    top: 0; /* Positionné en haut de la page */
    left: 0; /* Positionné à gauche de la page */
    z-index: 1000; /* S'assure que l'en-tête reste au-dessus des autres éléments */
  }
  
/* Modern Binance-Inspired Site Background */
body {
   
    background-size: cover, auto;
    background-position: center;
    background-repeat: no-repeat;
    animation: BackgroundAnimation 30s infinite alternate;
}



  .container {
    max-width: 460px; /* Adjust the width as needed */
    margin: auto;
  }

  
/* Footer Styles */
footer {
 
   
    text-align: center;
    padding: 1em;
}
body {
 
    padding-top: 50px; /* Ajustez cette valeur pour changer l'espacement avec l'en-tête */
    height: 100vh;

    background-position: center;
    background-attachment: fixed;

    justify-content: center;
    align-items: center;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-light);
    background-color: var(--primary-color);
        background: blur(5px);
    background-image: url('Hackathon\ \(14\).png'); /* Chemin vers votre image de fond */
    background-size: cover; /* L'image couvre tout l'espace disponible */
    background-repeat: no-repeat; /* L'image ne se répète pas */
    background-position: center; /* L'image est centrée */
}



/* Modern Binance-Inspired Site Background */
body {
   
    background-size: cover, auto;
    background-position: center;
    background-repeat: no-repeat;
    animation: BackgroundAnimation 120s infinite alternate;
}

@keyframes BackgroundAnimation {
    0% { background-position: top left; }
    50% { background-position: bottom right; }
    100% { background-position: top left; }
}



/* Main Section Styles */
main {
    padding: 20px;
}




.header {
    background-color: var(--accent-color);
    text-align: center;
    padding: 0px;
    color: var(--primary-color);
    position: fixed; /* Fixe l'en-tête en haut de la page */
    width: 100%; /* S'étend sur toute la largeur de la page */
    top: 0; /* Positionné en haut de la page */
    left: 0; /* Positionné à gauche de la page */
    z-index: 1000; /* S'assure que l'en-tête reste au-dessus des autres éléments */
}

/* Ajoutez un padding en haut du body pour éviter que le contenu soit caché sous le header */
body {
    padding-top: 50px;

}




.badge-container {
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Alignement vertical des éléments */
    justify-content: flex-start; /* Aligner les éléments en haut */
    align-items: center; /* Centrer les éléments horizontalement */
    width: 150px; /* Taille du conteneur (carré) */
    height: 150px; /* Hauteur égale à la largeur pour un carré */
    margin: 20px auto; /* Centrer dans la page et ajouter de l'espace autour */
    border-radius: 20px; /* Coins arrondis */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Ombre portée */
    backdrop-filter: blur(10px); /* Effet de flou à l'arrière-plan */
    background-color: rgba(255, 255, 255, 0.1); /* Couleur de fond semi-transparente */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Bordure subtile */


}
.badge-container h4 {
    margin-top: 35px; /* Ajustez selon vos besoins pour le titre 'Lvl' */
    margin-bottom: 0px; /* Espace entre le titre 'Lvl' et les badges */
}

.card {

  

    text-align: center;

    margin-bottom: 20px;


    flex-direction: column;
    justify-content: space-between; /* Espace égal entre les éléments */
}


.badge {
    width: 30px; /* Réduire la taille des badges */
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px; /* Espacement réduit entre les badges */
    flex-wrap: wrap; /* Permet aux badges de se mettre à la ligne si nécessaire */

}
.badges {
    display: flex; /* Aligner les badges horizontalement */
    justify-content: center; /* Centrer les badges */
    width: 100%; /* Utiliser toute la largeur disponible */
}


h3 {
    font-size: 1.2rem; /* Taille de police réduite */
}

h4 {
    font-size: 1.2rem; /* Taille de police réduite */
    padding: 0px;
}



.card:hover {
    transform: scale(1.05); /* Agrandit légèrement la carte au survol */
}





h3 {
    font-size: 1.2rem;
}

.G56 {
    text-align: left; /* Alignement du texte à gauche */
    padding-left: 20px; /* Espace à gauche pour aérer le contenu */
    font-family: Arial, Helvetica, sans-serif ;
    color: #f0b90b; /* Couleur jaune doré de Binance */
    margin: 10px 0; /* Espacement autour du texte */
    font-family: 'Lato', sans-serif;

  

}

.G56 h2, .G56 h3 {
    margin: 0; /* Supprime les marges par défaut */
    padding: 5px 0; /* Petit espacement vertical pour séparer les lignes */
 

}

.G56 h2 {
    color: #ffffff; /* Couleur blanche pour le sous-titre */
    text-align: center;
    font-size: 1em; /* Taille de police plus grande pour le titre */
    
}

.G56 h3 {
    font-size: 1em; /* Taille de police pour le sous-titre */
    opacity: 0.8; /* Légère transparence pour le sous-titre */
    color: #f0b90b; /* Couleur jaune doré pour le titre */

}



.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Ajoute un espacement entre les éléments flex enfants */
    /* autres styles de .main-container */

}
.card {
    margin-bottom: 5px; /* Ajoute de l'espace en bas de chaque carte */
    /* autres styles de .card */

}

.card {
    padding: 20px; /* Ajoute de l'espace autour du contenu à l'intérieur de la carte */
    /* autres styles de .card */
}




.card {
    margin-bottom: 20px; /* Espacement entre les cartes */
    /* autres styles pour .card */
}


.card {
    margin-bottom: 0px;
    padding: 0px;
}


.buy-level-button {
    width: 50px; /* Largeur fixe pour l'image */
    height: 50px; /* Hauteur fixe pour l'image */
    margin: 0; /* Pas de marge pour l'image */
    padding: 0; /* Pas de padding pour l'image */
    align-items: center; /* Centrage vertical */

}



.buy-level-button { /* Remplacez .conteneur par le sélecteur réel de votre conteneur */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribue l'espace uniformément entre les éléments */
    padding: 10px; /* Espacement autour des éléments dans le conteneur */
}

h4 {
    font-size: 1.2rem;
    margin-top: 0; /* Optionnel, en fonction de l'espacement souhaité */
}


h4, h5 {
   

    margin: 10px 0; /* Espacement au-dessus et en dessous de h4 et h5 */
}

 h5 {
    font-size: 1rem; /* Taille de police pour h4, ajustez pour h5 si nécessaire */


 }
.buy-level-button {
    width: 50px; /* Largeur fixe pour l'image */
    height: 50px; /* Hauteur fixe pour l'image */
    margin: 0; /* Pas de marge pour l'image */
    padding: 0; /* Pas de padding pour l'image */
}
h5 {
    font-family: 'Gabriela', serif;
        font-size: 0.8rem; /* Taille de police */
    color: #FFD700; /* Couleur jaune doré */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour donner de la profondeur */
    font-weight: bold; /* Police en gras */
    letter-spacing: 1px; /* Espacement entre les lettres */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    margin: 5px 0; /* Ajuster l'espacement autour du texte */
    transition: transform 0.3s ease; /* Animation lors du survol */
}

h5:hover {
    transform: scale(1.1); /* Effet de zoom léger au survol */
}

h4 {
    font-family: 'Gabriela', serif;
        color: white ; /* Couleur jaune doré */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour donner de la profondeur */
    font-weight: bold; /* Police en gras */
    letter-spacing: 1px; /* Espacement entre les lettres */
    text-transform: uppercase; /* Mettre le texte en majuscules */

    transition: transform 0.3s ease; /* Animation lors du survol */
}

h4:hover {
    transform: scale(1.1); /* Effet de zoom léger au survol */
}

    .dashboard-header .wallet-address {
   
        padding: 5px 20px;
        margin-top: 20px; /* Espace au-dessus du bouton */
        border: none;
        border-radius: 25px; /* Bouton avec des bords arrondis */
        background-image: linear-gradient(45deg, #f0b90b, #fcb045); /* Gradient doré */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Ombre pour l'effet 3D */
        color: #ffffff; /* Texte blanc */
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase; /* Texte en majuscules */
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease; /* Transition douce pour les effets au survol et au clic */
    }

    .badges.badge-active {
    color: #F0B90B ; /* ou la couleur dorée souhaitée */
    }
    